.cards__btn-like {
  margin-left: 20px;
  align-self: stretch;
  background-image: url(../../../images/btn-like.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 2/3;
  width: 19px;
  border: none;
  background-color: white;
}

.cards__btn-like:focus {
  outline: none;
}

.cards__btn-like:hover {
  opacity: 0.5;
}

.cards__btn-like:active {
  background-image: url(../../../images/btn-like_black.svg);
}