.cards__item {
  max-width: 100%;
  color: black;
  display: grid;
  grid-template-columns: 1fr 70px;
  align-items: center;
  justify-items: start;
  background-color: white;
  border-radius: 13px;
  overflow: hidden;
}