.cards__item {
  max-width: 100%;
  height: 361px;
  color: black;
  display: grid;
  grid-template-columns: 1fr 79px;
  align-items: center;
  justify-items: start;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}