.profile__container {
  width: 336px;
  min-height: 73px;
  align-self: center;

}

@media (max-width: 425px) {
  .profile__container {
    max-width: 282px;
    text-align: center;
    margin: 26px auto 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}