.footer {
  max-width: 880px;
  margin: 67px auto 0;
  padding: 0;
  align-self: left;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 60px 19px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding-top: 48px;
  }
}