.profile__job {
  max-width: 100%;
  margin: 0;
  padding: 0;
  justify-self: start;
  align-self: start;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21.78px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


@media (max-width: 768px) {
  .profile__job  {
    display: flex;
    justify-self: center;
    font-size: 14px;
    line-height: 16.94px;
    align-self: center;
    text-align: center;
    margin: 14px auto 0;
  }
}

@media (max-width: 425px) {
  .profile__info {
    justify-content: space-between;
  }
}